
div{
    display: block;
}

h1,h4,p,a, button{
    text-align: center;
}
hr{
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
}

.btn-defaut{
    background-color: #e4606d;
    border-radius: 15px;
    color: white;
    border-color: #e4606d;
}
.btn-second{
    background-color: white;
    border-radius: 15px;
    color: black;
    border-color: white;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
    padding-top: 2%;
}
.hr-white{
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 50px;
    border-width: 3px;
    border-color: white;
}
.banner{
    background-image: url("../img/laptopMobilePhone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 12%;
}
img{
    vertical-align: 100px;
    border-style: none;

}

